

<h4>UserData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-action="ShowSearchResultsUserData">
            <div class="form-group">
                <label for="seachUserData" class="control-label"></label>
                <input name="searchUserData" class="form-control" />
               
            </div>
            <div class="form-group">
                <input type="submit" value="Rechercher" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

